@model IEnumerable<NopCommerce.Api.SampleApplication.DTOs.CustomerApi>

@{
    Layout = "Layout.cshtml";
}

<ul>
    @foreach (var customer in Model)
    {
        <li>@customer.FirstName @customer.LastName</li>     
    }
</ul>